_compare_dev27/개발/_snapshots/
_compare_dev27/개발/.mypy_cache/
_compare_dev27/개발/.ruff_cache/
_compare_dev27/개발/tools/zig/
_compare_dev27/개발/tools/zig-*.zip
_compare_dev27/개발/temp_video_tools/
_compare_dev27/개발/temp_video_frames_0316/
